@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  /* font-family: "Kosugi Maru", sans-serif;
  font-weight: 100; */
  /* font-style: normal; */
  color: rgb(86, 86, 86);
  font-size: 0.9rem;

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: gray;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.btn {
  opacity: 0.6;
}
.btn:hover {
  opacity: 1;
}
.flash-msg {
  color: red;
  font-size: 0.75rem;
  position: relative;
  margin-left: 25px;
}
.flash-msg:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/attention.png);
  background-size: contain;
  position: absolute;
  top: 3px;
  left: -15px;
}
#paginate {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
  margin-bottom: 5px;
  column-gap: 3px;
}
#paginate li {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border: 1px #ccc solid;
  color: #000053;
  border-radius: 5px / 5px;
}
#paginate li.this {
  background-color: #777;
  color: #fff;
}
#paginate li a {
  display: block;
  border-radius: 5px / 5px;
}
#paginate li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4c4962;
}

/* #paginate li {
  width: 20px;
  text-align: center;
  background-color: #fff;
} */

/* #paginate li a {
  display: block;
  background-color: #0087ff;
  border-radius: 5%;
  color: #fff;
  font-weight: bold;
} */

/*-------------------------------------------
 メンバーログイン画面 MemberLoginView.php
-------------------------------------------*/
.login-wrapper {
  width: 360px;
  margin: 80px auto;
}
.login-wrapper h1,
.login-wrapper h2,
#to-manager,
#to-member {
  text-align: center;
}
.login-wrapper h2 {
  margin: 20px 0;
  font-size: 0.9rem;
}
.login-box {
  background-color: #f3f4f6;
  padding: 35px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.login-box h3 {
  color: rgba(0, 0, 0, 0.769);
  margin-bottom: 35px;
}
.login-box label {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.login-box input,
.login-box button {
  line-height: 2.6rem;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.475);
  border-radius: 5px;
}
.login-box .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-box button {
  width: 100%;
  background-color: #6366f1;
  color: #fff;
  font-size: 1rem;
}
#to-register {
  text-align: right;
  margin-top: 15px;
  font-size: 0.8rem;
}
#to-register a {
  margin-left: 20px;
  text-decoration: underline;
}

/*-------------------------------------------
管理者ログイン画面 ManagerLoginView.php
-------------------------------------------*/
#manager-title {
  color: #6366f1;
}

/*-------------------------------------------
メンバー一覧画面 index.php
-------------------------------------------*/
/*全体*/
.task-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/*ヘッダー*/
header {
  background-color: #4c4962;
  /* padding: 5px 15px; */
}

#task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
#task-header h1 {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  margin-left: 40px;
}
#task-header h1::before {
  content: "";
  display: block;
  width: 30px;
  height: 28px;
  background-image: url(../images/task.png);
  background-size: contain;
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 0;
  left: -40px;
}

/* #task-header h1::before {
  content: "";
  display: block;
  position: absolute;
  background-color: gray;
  width: 21px;
  height: 1px;
  top: 15px;
  left: -30px;
} */
/* #task-header h1::after {
  content: "";
  display: block;
  position: absolute;
  background-color: gray;
  width: 21px;
  height: 1px;
  top: 15px;
  right: -30px;
} */
/* 新規タスク登録 */
#new-task h2,
#task-list h2,
#search-section h2,
#m-task-list h2 {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}
.new-task h2::after {
  content: "";
  background-color: #464e54;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
#new-task ul {
  display: flex;
  align-items: flex-start;
}
#new-task li {
  margin-right: 10px;
  font-size: 0.8rem;
}
#new-task li label {
  display: block;
  margin-bottom: 5px;
}
#new-task input,
#new-task select {
  width: 100%;
  height: 30px;
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  padding: 5px;
}
#new-task li:nth-child(1) {
  width: 7%;
}
#new-task li:nth-child(2) {
  width: 15%;
}
#new-task li:nth-child(3) {
  width: 25%;
}
#new-task li:nth-child(4) {
  width: 38%;
}
#new-task li:nth-child(5) {
  width: 10%;
}

#new-task li:last-child {
  margin-bottom: 0;
  margin-right: 0;
  width: 5%;
  padding-top: 21px;
}
#regist-btn {
  padding: 7px 10px;
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  width: 100%;
  border-radius: 5px;
}

/*メンバータスク一覧*/
#task-list div form {
  margin-top: 30px;
}
#task-list .edit-btn {
  background-color: rgb(22, 155, 22);
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px 11px;
}
#task-list .comp-btn {
  color: #fff;
  margin: 3px 0;
  padding: 0 10px;
  border-radius: 5px;
}
#task-list .comp-btn {
  background-color: orange;
}

#task-list table {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}
#task-list th,
#task-list td {
  line-height: 2;
}
#task-list th {
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  font-weight: normal;
}
#task-list tbody tr:nth-child(odd) {
  background-color: #464e541f;
}

#task-list th:nth-child(1),
#task-list td:nth-child(1) {
  width: 4%;
  text-align: center;
}
#task-list th:nth-child(2) {
  width: 15%;
}
#task-list th:nth-child(3) {
  width: 25%;
}
#task-list th:nth-child(4) {
  width: 28%;
}
#task-list th:nth-child(5),
#task-list td:nth-child(5) {
  width: 10%;
  text-align: center;
}
#task-list th:nth-child(6),
#task-list td:nth-child(6) {
  width: 6%;
  text-align: center;
}
#task-list th:nth-child(7),
#task-list td:nth-child(7) {
  width: 6%;
  text-align: center;
}
#task-list th:nth-child(8),
#task-list td:nth-child(8) {
  width: 6%;
  text-align: center;
}
.edit-link a:hover {
  text-decoration: underline;
  color: black;
}

/*メッセージ 送信・受信アイコン*/
.msg-icon a {
  display: flex;
  justify-content: center;
}
.msg-icon img {
  width: 25px;
}

/*★★★★★★ 恐らくこれが必要なくなる★★★★★★*/
/* .msg-link {
  display: flex;
} */
.msg-link a {
  display: block;
  width: 25px;
  margin: 0 auto;
  line-height: 1px;
}
.msg-link img {
  width: 100%;
}
/*★★★★★★ 恐らくこれが必要なくなる★★★★★★*/

/*削除メッセージ */
#task-list span {
  color: #0087ff;
  margin-left: 40px;
  font-size: 0.85rem;
  background-color: #3ea8ff5e;
  padding: 2px 30px;
  border-radius: 5px;
}

/*-------------------------------------------
メンバー編集画面 EditView.php
-------------------------------------------*/
#to_index {
  text-align: right;
}
#to_index a {
  padding: 5px 11px;
  background-color: rgba(12, 102, 212, 0.936);
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
}
.edit-wrapper {
  width: 400px;
  margin: 30px auto;
}
.task-wrapper.edit-wrapper h1 {
  margin-left: 0px;
  margin-bottom: 30px;
}
#edit-table ul {
  display: flex;
  flex-direction: column;
  justify-items: left;
  width: 100%;
}
#edit-table label {
  font-size: 0.8rem;
}
#edit-table select,
#edit-table input,
#edit-table textarea {
  width: 100%;
  height: 30px;
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#edit-table li:nth-child(4) textarea {
  height: 60px;
}
#edit-table li:nth-child(5) {
  margin-bottom: 15px;
}

/*-------------------------------------------
マネージャー タスク一覧画面 ManagerIndex.php
-------------------------------------------*/
/*検索ボックス*/
#search {
  background-color: #f3f4f6;
}
#search-flex {
  width: 100%;
  display: flex;
  align-items: end;
  padding: 10px 20px;
  border-radius: 5px;
}
#search-flex li {
  width: 200px;
  margin-right: 20px;
}
#search-flex li select,
#search-flex li input {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  color: gray;
  font-size: 0.8rem;
  line-height: 2;
}
.search-btn {
  padding: 8px 10px;
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  width: 100%;
  border-radius: 5px;
  line-height: 1;
}
/* #search-box li label {
  display: block;
} */

/* task一覧(マネージャー) */
#m-task-list div form {
  margin-top: 30px;
}
#m-task-list .edit-btn {
  background-color: rgb(22, 155, 22);
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px 11px;
}
#m-task-list .comp-btn {
  color: #fff;
  margin: 3px 0;
  padding: 0 10px;
  border-radius: 5px;
}
#m-task-list .comp-btn {
  background-color: orange;
}

#m-task-list table {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}
#m-task-list th,
#m-task-list td {
  line-height: 2.5;
}
#m-task-list th {
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  font-weight: normal;
}
#m-task-list tbody tr:nth-child(odd) {
  background-color: #464e541f;
}

#m-task-list th:nth-child(1),
#m-task-list td:nth-child(1) {
  width: 10%;
  text-align: center;
}
#m-task-list th:nth-child(2) {
  width: 4%;
}
#m-task-list th:nth-child(3) {
  width: 12%;
}
#m-task-list th:nth-child(4) {
  width: 20%;
}
#m-task-list th:nth-child(5),
#m-task-list td:nth-child(5) {
  width: 30%;
}
#m-task-list th:nth-child(6),
#m-task-list td:nth-child(6),
#m-task-list th:nth-child(7),
#m-task-list td:nth-child(7),
#m-task-list th:nth-child(8),
#m-task-list td:nth-child(8),
#m-task-list th:nth-child(9),
#m-task-list td:nth-child(9) {
  width: 6%;
  text-align: center;
}

/*-------------------------------------------
チャット画面共通 ManagerChatView.php/MemberChatView.php
-------------------------------------------*/
/*全体*/
#chat-wrapper {
  max-width: 800px;
  margin: 40px auto 0 auto;
}
#chat-flex {
  display: flex;
  gap: 20px;
}
#chat-wrapper label {
  font-size: 0.8rem;
}

/*タスク側*/
#task-side {
  width: calc((100% - 20px) * 0.5);
}
#task-side ul {
  display: flex;
  flex-direction: column;
  justify-items: left;
  width: 100%;
}
#task-side div {
  width: 100%;
  height: 30px;
  background-color: rgba(178, 177, 177, 0.498);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#task-side li:nth-child(5) div {
  height: 60px;
}

/*Chat側*/
#chat-side {
  width: calc((100% - 20px) * 0.5);
}
.chat-room {
  width: 100%; /* チャットルームの幅を指定 */
  height: 260px;
  border-radius: 5px;
  background: #eee; /* チャットルームの背景を灰色 */
  padding: 10px; /* 余白を10pxキープ */
  margin: 5px 0 15px 0;
  overflow-y: scroll;
}

.chat {
  display: flex; /* 要素を横並び */
  margin-bottom: 10px; /* チャット同士に隙間を作る */
}

.chat .mes {
  max-width: 70%; /* 短いチャットにも対応させるため、widthではなくmax-widthを指定 */
  border-radius: 20px; /* （あとでも可）角丸を指定 */
  padding: 0.3em; /* （あとでも可）メッセージの内側に余白 */
  font-size: 0.85rem;
}
.chat .status {
  color: #aaa; /* 文字色を灰色に指定 */
  font-size: 11px; /* 文字サイズは小さめ */
  align-self: flex-end; /* この要素は下寄せ */
  margin: 0 5px; /* 左右に隙間を作る（ちょっと楽してます）*/
}
/* 相手メッセージのCSS */
.chat.you .mes {
  color: #fff; /* 文字色を白 */
  background: #8d8c8c; /* 背景を黒 */
}

/* 自分メッセージのCSS */
.chat.me {
  flex-direction: row-reverse; /* 左右の並び順を逆順にする */
}

.chat.me .mes {
  color: #fff;
  background: #5ac323; /* 背景色を緑 */
}

.chat .status {
  text-align: right; /* 右寄せにする */
}
/*メッセージ入力*/
#message-box {
  display: flex;
  flex-direction: column;
}
#message-box textarea {
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  margin: 5px 0 5px 0;
  padding: 8px;
}
.sendmsg-btn {
  background-color: rgb(12, 102, 212);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  padding: 5px 20px;
  margin-left: auto;
}
/*----------------------------------------------------
ダッシュボード MemberDashBoard.php, ManagerDashBoard.php, 
----------------------------------------------------*/
.calender-wrapper {
  max-width: 1200px;
  margin: 50px auto;
}
.calender-wrapper table {
  width: 100%;
}

/* カレンダー期間表示・prev＋next */
#month {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#month p {
  font-size: 1.5rem;
}

/* ボード全体 */
#taskboard th:nth-child(1) {
  width: 10%;
}
#taskboard th {
  width: 18%;
  border: 2px solid #fff;
}

#taskboard th {
  background-color: #4c4962b9;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
}
#taskboard td {
  vertical-align: top;
  border: 2px solid #fff;
}
#taskboard tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.142);
}
#taskboard tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.071);
}
.category {
  min-height: 100px;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}
td:has(.category) {
  background-color: #4c496287;
}
/*box*/
#taskboard td {
  padding: 5px 0;
}
.box {
  width: 100%;
  /* background-color: rgba(0, 255, 0, 0.55); */
  background-color: #967ac6;
  min-height: 40px;
  border-radius: 5px;
  padding: 3px 3px 3px 7px;
  vertical-align: top;
  /* color: #4c4962; */
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}
.box span,
.box p {
  font-size: 0.8rem;
}
.box .theme {
  background-color: #291693b7;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
}
.theme-flex {
  display: flex;
  justify-content: space-between;
}
.star {
  color: gold;
}

/* boxの色をメンバー毎に設定（今回はメンバーが増えた際の対応は考慮外）*/
.box.mem-color1 {
  background-color: red;
}
.box.mem-color2 {
  background-color: rgb(0, 60, 255);
}
.box.mem-color3 {
  background-color: rgb(255, 200, 0);
}
.box.mem-color4 {
  background-color: rgb(12, 180, 68);
}
.box.mem-color5 {
  background-color: rgb(255, 0, 247);
}
.box.mem-color6 {
  background-color: rgb(0, 255, 234);
}
