@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  color: rgb(86, 86, 86);
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: gray;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.btn {
  opacity: 0.6;
}
.btn:hover {
  opacity: 1;
}
.flash-msg {
  color: red;
  font-size: 0.75rem;
  position: relative;
  margin-left: 25px;
}
.flash-msg:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/attention.png);
  background-size: contain;
  position: absolute;
  top: 3px;
  left: -15px;
}
#paginate {
  display: flex;
  justify-content: flex-end;
  column-gap: 3px;
}
#paginate li {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border: 1px #ccc solid;
  color: #000053;
  border-radius: 5px / 5px;
}
#paginate li.this {
  background-color: #777;
  color: #fff;
}
#paginate li a {
  display: block;
  border-radius: 5px / 5px;
}
#paginate li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4c4962;
}

/*-------------------------------------------
 メンバーログイン画面 MemberLoginView.php
-------------------------------------------*/
.login-wrapper {
  width: 430px;
  margin: 25px auto;
}
.login-wrapper h1,
.login-wrapper h2,
#to-manager,
#to-member {
  text-align: center;
}
.login-wrapper h2 {
  margin: 20px 0;
  font-size: 0.9rem;
}
.login-box {
  background-color: #e9eaec;
  padding: 35px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.login-box h3 {
  color: rgba(0, 0, 0, 0.769);
  margin-bottom: 35px;
}
.login-box label {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.input input {
  padding-left: 5px;
}

.login-box input,
.login-box button {
  line-height: 2.6rem;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.475);
  border-radius: 5px;
}
.login-box .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-box button {
  width: 100%;
  background-color: #6366f1;
  color: #fff;
  font-size: 1rem;
}
#to-register {
  text-align: right;
  margin-top: 15px;
  font-size: 0.8rem;
}
#to-register a {
  margin-left: 20px;
  text-decoration: underline;
}
/*-------------------------------------------
 メンバーアカウント作成画面 MemberAccountView.php
-------------------------------------------*/
.input.account label {
  display: inline-block;
  width: 80px;
  font-size: 0.8rem;
}
#to-login {
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
}

/*-------------------------------------------
管理者ログイン画面 ManagerLoginView.php
-------------------------------------------*/
#manager-title {
  color: #6366f1;
}

/*-------------------------------------------
メンバー用ヘッダー MemberHeaderView.php
-------------------------------------------*/
header {
  background-color: #4c4962;
  /* padding: 5px 15px; */
}

#task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}
#task-header h1 {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  margin-left: 40px;
}
#task-header h1::before {
  content: "";
  display: block;
  width: 30px;
  height: 28px;
  background-image: url(../images/task.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: -40px;
}
/*メニューアイコン*/
#header-nav {
  display: flex;
  column-gap: 25px;
  align-items: center;
}
#header-nav + div {
  line-height: 1;
}
#header-link {
  display: inline-block;
  background-color: #4c4962;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #4d4a60;
  box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px 0px #4c4962;
}
#header-link:hover {
  opacity: 0.7;
}

#menu-icon {
  position: relative;
  line-height: 1px;
}
#menu-icon img {
  display: block;
  width: 30px;
}
.menu-content {
  display: none;
}
.open {
  display: block;
  width: 150px;
  background-color: #efeded;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 0px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.menu-content p:first-child {
  color: rgb(88, 87, 87);
  font-size: 0.8rem;
  padding: 15px;
}
.menu-content form {
  color: #000;
  border-bottom: 1px solid gray;
  padding: 15px;
}
.menu-content p:hover,
.menu-content form:hover {
  background-color: #b7b6b6;
}

#logout-btn {
  width: 100%;
  height: 100%;
  color: #000053;
  text-decoration: underline;
  font-weight: bold;
  padding: 10px 20px 10px 0;
  text-align: left;
}

/*-------------------------------------------
メンバー用タスク登録・一覧画面 index.php
-------------------------------------------*/
/*全体*/
.task-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* 新規タスク登録 */
#new-task h2,
#task-list h2,
#search-section h2,
#m-task-list h2,
#chat-wrapper h1,
.edit-wrapper h1 {
  display: inline-block;
  /* background-color: #369549; */
  background-color: #b0cb66;
  color: #fff;
  padding: 5px 40px 5px 10px;
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 6px 6px 2px -2px rgba(0, 0, 0, 0.4);
}
#new-task ul {
  display: flex;
  align-items: flex-start;
}
#new-task li {
  margin-right: 10px;
  font-size: 0.8rem;
}
#new-task li label {
  display: block;
  margin-bottom: 5px;
}
#new-task input,
#new-task select {
  width: 100%;
  height: 30px;
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  padding: 5px;
}
#new-task li:nth-child(1) {
  width: 7%;
}
#new-task li:nth-child(2) {
  width: 15%;
}
#new-task li:nth-child(3) {
  width: 25%;
}
#new-task li:nth-child(4) {
  width: 38%;
}
#new-task li:nth-child(5) {
  width: 10%;
}

#new-task li:last-child {
  margin-bottom: 0;
  margin-right: 0;
  width: 5%;
  padding-top: 21px;
}
#regist-btn {
  padding: 7px 10px;
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  width: 100%;
  border-radius: 5px;
}

/*メンバータスク一覧*/
#task-list table,
#m-task-list table {
  margin-top: 5px;
}
#sort-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  column-gap: 40px;
}
#sort {
  border: 1px solid gray;
  font-size: 0.8rem;
  border-radius: 3px;
  position: relative;
  width: 120px;
  height: 24px;
}
#sort select {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
#sort:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  transform: rotate(90deg);
  right: 0;
  top: 1px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

#task-list .comp-btn,
#m-task-list .del-btn {
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: orange;
}

#task-list table {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}

#task-list tr {
  height: 35px;
}

#task-list th {
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  font-weight: normal;
}
#task-list tbody tr:nth-child(odd) {
  background-color: #464e541f;
}

#task-list th:nth-child(1),
#task-list td:nth-child(1) {
  width: 6%;
  padding-left: 8px;
}
#task-list th:nth-child(2) {
  width: 13%;
}
#task-list th:nth-child(3) {
  width: 3%;
}
#task-list th:nth-child(4) {
  width: 22%;
}
#task-list th:nth-child(5) {
  width: 28%;
}
#task-list th:nth-child(6),
#task-list td:nth-child(6) {
  width: 10%;
  text-align: center;
}
#task-list th:nth-child(7),
#task-list td:nth-child(7) {
  width: 6%;
  text-align: center;
}
#task-list th:nth-child(8),
#task-list td:nth-child(8) {
  width: 6%;
  text-align: center;
}
#task-list th:nth-child(9),
#task-list td:nth-child(9) {
  width: 6%;
  text-align: center;
}
.edit-link a {
  color: #050505;
}
.edit-link a:hover {
  text-decoration: underline;
  color: rgb(8, 2, 44);
  font-weight: bold;
}

/*メッセージ 送信・受信アイコン*/
.msg-icon a {
  display: flex;
  justify-content: center;
}
.msg-icon img {
  width: 25px;
}
.msg-icon img:hover {
  transform: scale(1.15);
}

/*削除メッセージ */
#task-list .del_msg,
#task-list .initial-msg,
#m-task-list .initial-msg,
#m-task-list .del_msg {
  color: #fff;
  margin-left: 40px;
  font-size: 0.8rem;
  background-color: #748baee8;
  padding: 7px 40px;
  border-radius: 15px;
  font-weight: bold;
  position: relative;
}
#task-list .del_msg::before,
#task-list .initial-msg::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/check_mark_white.png);
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 15px;
}

/*-------------------------------------------
メンバー編集画面 EditView.php
-------------------------------------------*/
#to_index {
  text-align: right;
}
#to_index a {
  padding: 5px 11px;
  background-color: rgba(12, 102, 212, 0.936);
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
}
.edit-wrapper {
  width: 400px;
  margin: 30px auto;
}
.task-wrapper.edit-wrapper h1 {
  margin-left: 0px;
  margin-bottom: 30px;
}
#edit-table ul {
  display: flex;
  flex-direction: column;
  justify-items: left;
  width: 100%;
}
#edit-table label {
  display: inline-block;
  width: 70px;
  font-size: 0.8rem;
}
#edit-table select,
#edit-table input,
#edit-table textarea {
  width: 100%;
  height: 30px;
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#edit-table li:nth-child(4) textarea {
  height: 60px;
}
#edit-table li:nth-child(5) {
  margin-bottom: 15px;
}

/*-------------------------------------------
マネージャー タスク一覧画面 ManagerIndex.php
-------------------------------------------*/
/*検索ボックス*/
#search {
  background-color: #f3f4f6;
}
#search-flex {
  width: 100%;
  display: flex;
  align-items: end;
  padding: 10px 20px;
  border-radius: 5px;
}
#search-flex li {
  width: 200px;
  margin-right: 20px;
}
#search-flex li select,
#search-flex li input {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  color: gray;
  font-size: 0.8rem;
  line-height: 2;
}
.search-btn {
  padding: 8px 10px;
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  width: 100%;
  border-radius: 5px;
  line-height: 1;
}

/* task一覧(マネージャー) */

/*↓↓↓↓↓↓↓↓↓↓↓↓ 使っていない様に思える ↓↓↓↓↓↓↓↓↓↓↓↓ */
/* #m-task-list .edit-btn {
  background-color: rgb(22, 155, 22);
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px 11px;
}
#m-task-list .comp-btn {
  color: #fff;
  margin: 3px 0;
  padding: 0 10px;
  border-radius: 5px;
}
#m-task-list .comp-btn {
  background-color: orange;
} */

#m-task-list table {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}
#m-task-list tr {
  height: 35px;
}
#m-task-list th {
  background-color: rgba(30, 30, 211, 0.644);
  color: #fff;
  font-weight: normal;
}
#m-task-list tbody tr:nth-child(odd) {
  background-color: #464e541f;
}
.comp-icon img {
  display: block;
  text-align: center;
  width: 20px;
}
#m-task-list th:nth-child(1),
#m-task-list td:nth-child(1) {
  width: 10%;
  text-align: center;
}
#m-task-list th:nth-child(2) {
  width: 6%;
}
#m-task-list th:nth-child(3) {
  width: 12%;
}
#m-task-list th:nth-child(4) {
  width: 4%;
}

#m-task-list th:nth-child(5) {
  width: 18%;
}
#m-task-list th:nth-child(6),
#m-task-list td:nth-child(6) {
  width: 28%;
}
#m-task-list th:nth-child(7),
#m-task-list td:nth-child(7) {
  width: 5%;
  text-align: center;
}
#m-task-list th:nth-child(9),
#m-task-list td:nth-child(9),
#m-task-list th:nth-child(10),
#m-task-list td:nth-child(10),
#m-task-list th:nth-child(11),
#m-task-list td:nth-child(11) {
  width: 4%;
  text-align: center;
}
#m-task-list th:nth-child(8),
#m-task-list td:nth-child(8) {
  width: 5%;
  text-align: right;
  padding-right: 6px;
}

/*-------------------------------------------
チャット画面共通 ManagerChatView.php/MemberChatView.php
-------------------------------------------*/
/*全体*/
#chat-wrapper {
  max-width: 800px;
  margin: 40px auto 0 auto;
}
#chat-flex {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
#chat-wrapper label {
  font-size: 0.8rem;
}

/*タスク側*/
#task-side {
  width: calc((100% - 20px) * 0.5);
}
#task-side ul {
  display: flex;
  flex-direction: column;
  justify-items: left;
  width: 100%;
}
#task-side div {
  width: 100%;
  height: 30px;
  background-color: rgba(178, 177, 177, 0.498);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#task-side li:nth-child(5) div {
  height: 60px;
}

/*Chat側*/
#chat-side {
  width: calc((100% - 20px) * 0.5);
}
#chat-room {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  background: #eee;
  padding: 10px;
  margin: 5px 0 15px 0;
  overflow-y: scroll;
}

.chat {
  display: flex;
  margin-bottom: 10px;
}

.chat .mes {
  max-width: 70%;
  border-radius: 20px;
  padding: 0.3em;
  font-size: 0.85rem;
}
.chat .status {
  color: #aaa;
  font-size: 11px;
  align-self: flex-end;
  margin: 0 5px;
}
/* 相手メッセージのCSS */
.chat.you .mes {
  color: #fff;
  background: #8d8c8c;
}
/* 自分メッセージのCSS */
.chat.me {
  flex-direction: row-reverse;
}
.chat.me .mes {
  color: #fff;
  background: #5ac323;
  overflow-wrap: anywhere;
}

.chat .status {
  text-align: right;
}
/*メッセージ入力*/
#message-box {
  display: flex;
  flex-direction: column;
}
#message-box textarea {
  background-color: rgba(30, 30, 211, 0.112);
  border-radius: 5px;
  margin: 5px 0 5px 0;
  padding: 8px;
}
.sendmsg-btn,
.sendback-btn {
  background-color: rgb(12, 102, 212);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  padding: 5px 20px;
  margin-left: auto;
}
.sendback-btn {
  background-color: rgb(238, 18, 73);
}
/*----------------------------------------------------
ダッシュボード MemberCallenderView.php, ManagerCallenderView.php, 
----------------------------------------------------*/
.calender-wrapper {
  max-width: 1200px;
  margin: 25px auto;
  padding: 0 15px;
}
.calender-wrapper table {
  width: 100%;
}

/* カレンダー期間表示・prev＋next */
#month {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#month p {
  font-size: 1.5rem;
}
#month a:hover {
  color: rgb(14, 5, 151);
  font-weight: bold;
}

/* ボード全体 */
#taskboard th:nth-child(1) {
  width: 10%;
}
#taskboard th {
  width: 18%;
  border: 2px solid #fff;
}

#taskboard th {
  background-color: #4c4962b9;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
}
#taskboard td {
  vertical-align: top;
  border: 2px solid #fff;
}
#taskboard tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.142);
}
#taskboard tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.071);
}
.category {
  min-height: 80px;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}
td:has(.category) {
  background-color: #4c496287;
}
/*box*/
#taskboard td {
  padding: 5px 0;
}
.box {
  width: 100%;
  background-color: #967ac6;
  min-height: 40px;
  border-radius: 5px;
  padding: 3px 3px 3px 7px;
  vertical-align: top;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}
.box span,
.box p {
  font-size: 0.8rem;
}
.box .theme {
  background-color: #291693b7;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
}
.theme-flex {
  display: flex;
  justify-content: space-between;
}
.star {
  color: gold;
}

/* boxの色をメンバー毎に設定（今回はメンバーが増えた際の対応は考慮外）*/
.box.mem-color1 {
  background-color: rgba(255, 0, 0, 0.59);
}
.box.mem-color2 {
  background-color: rgba(0, 60, 255, 0.47);
}
.box.mem-color3 {
  background-color: rgba(0, 171, 255, 0.45);
}
.box.mem-color4 {
  background-color: rgba(12, 180, 68, 0.6);
}
.box.mem-color5 {
  background-color: rgba(255, 0, 247, 0.31);
}
.box.mem-color6 {
  background-color: rgba(0, 255, 234, 0.489);
}
.box.comp-color {
  background-color: #565657;
}
